In [1]:
from sklearn.datasets import load_iris
from scipy import stats

import pandas as pd
import numpy as np

# Estatística I

## Amostragem

In [2]:
iris = pd.DataFrame(load_iris().data)
iris.insert(4, "class", load_iris().target)
iris

       0    1    2    3  class
0    5.1  3.5  1.4  0.2      0
1    4.9  3.0  1.4  0.2      0
2    4.7  3.2  1.3  0.2      0
3    4.6  3.1  1.5  0.2      0
4    5.0  3.6  1.4  0.2      0
..   ...  ...  ...  ...    ...
145  6.7  3.0  5.2  2.3      2
146  6.3  2.5  5.0  1.9      2
147  6.5  3.0  5.2  2.0      2
148  6.2  3.4  5.4  2.3      2
149  5.9  3.0  5.1  1.8      2

[150 rows x 5 columns]

In [3]:
amostra_aleatoria_simples = np.random.choice(a = (0, 1),
                           p = (0.5, 0.5),
                          size = 150,
                          replace = True)
amostra_aleatoria_simples

array([1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1])

## Variância e centralidade

In [4]:
arr = np.array([int(np.random.random() * 100)
    for i in range(20)
])

arr

array([30, 88, 42, 54, 25, 10, 56, 83, 63, 96, 75,  3, 43, 28, 35, 79, 64,
       95, 17, 68])

### Média, mediana e moda

In [5]:
print(arr.mean()) # média
print(np.median(arr)) # mediana
print(stats.mode(arr)) # moda

52.7
55.0
ModeResult(mode=array([3]), count=array([1]))

### Quartis

In [6]:
quartis = np.quantile(arr, (
    0.25, 0.5, 0.75
)) # cria-se uma variável composta para colocar os Quartis desejados

quartis

array([29.5, 55. , 76. ])

### Desvio padrão e variância

In [9]:
desvio_padrao = np.std(arr, ddof = 1)
variancia = desvio_padrao ** 2

print(desvio_padrao)
print(variancia)

28.543779855181278
814.7473684210526

In [8]:
stats.describe(arr)

DescribeResult(nobs=20, minmax=(3, 96), mean=52.7, variance=814.7473684210526, skewness=-0.0875585149652664, kurtosis=-1.1374090489256483)

## Probabilidade